.header {
  z-index: 1000;
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 60px;
  margin-inline: auto;
  font-size: 14px;
  color: #0e0e0e;
  background: #eeeeee;
  border-radius: 0 0 15px 15px;
  user-select: none;
}

.header_title {
  margin-left: 30px;
}

.header_titleLink {
  font-size: 25px;
  color: #0e0e0e;
  text-decoration: none;
}

.header_nav {
  display: flex;
  width: 100%;
  height: 100%;
  margin-left: 50px;
  background: transparent;
  font-weight: normal;
  letter-spacing: 0.05rem;
}

.header_navList {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 35px;
  row-gap: 5px;
  height: 100%;
}

.header_navItem {
  color: #0e0e0e;
}

.header_navItemText {
  color: #0e0e0e;
}

.header_navItemText:nth-of-type(1) {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-right: 10px;
  cursor: pointer;
}
.header_navItemText:nth-of-type(1)::after {
  content: "";
  transform: translateY(1px) rotate(45deg);
  width: 7px;
  aspect-ratio: 1/1;
  border-top: 1px solid #0e0e0e;
  border-right: 1px solid #0e0e0e;
  transition: all 0.3s;
}
.header_navItemText:nth-of-type(1).active::after {
  transform: translateY(0px) rotate(135deg);
}

.header_navSubList {
  z-index: -50;
  position: fixed;
  top: -200px;
  left: 140px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: start;
  background: #eee;
  background: red;
  border-radius: 15px;
  padding-inline: 30px;
  padding-block: 30px;
  transition: top 0.3s ease-in-out;
}

.header_navSubList.active {
  display: flex;
  top: 80px;
}

.header_navSubItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 25px;
  width: 100%;
  color: #0e0e0e;
}

.header_navSubItem::after {
  content: "";
  transform: translateY(1px) rotate(45deg);
  width: 7px;
  aspect-ratio: 1/1;
  border-top: 1px solid #0e0e0e;
  border-right: 1px solid #0e0e0e;
  transition: all 0.3s;
}

.header_navSubItem:hover::after {
  transform: translateY(0) rotate(135deg);
}

.header_navItemLink {
  position: relative;
  color: #0e0e0e;
  text-decoration: none;
}

.header_navItemLink::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 100%;
  height: 2px;
  margin: auto;
  background: #0e0e0e;
  border-radius: 9999px;
  transform-origin: right top;
  transform: scale(0, 1);
  transition: transform 0.3s;
}

.header_navItemLink:hover::before {
  transform-origin: left top;
  transform: scale(1, 1);
}

.header_accountList {
  display: flex;
  align-items: center;
  gap: 10px;
  height: 100%;
  margin-left: auto;
  margin-right: 30px;
}

.header_accountItem {
}

.header_accountBox {
  display: flex;
  align-items: center;
  gap: 5px;
  height: 100%;
}

.header_accountUsername {
  margin-bottom: 6px;
  color: #0e0e0e;
}

.header_accountImg {
  width: 30px;
}

.header_searchBox {
  position: relative;
  display: block;
  width: 25%;
  max-width: 500px;
  height: 35px;
  margin-block: auto;
  margin-right: 15px;
  border: 2px solid #0e0e0e;
  border-radius: 50px;
}

.header_searchBox::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 10px; /* input内の右側に配置 */
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  background-image: url("/icon/search.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.header_search {
  display: block;
  width: 100%;
  height: 100%;
  padding: 0 35px 0 10px;
  background-color: transparent;
  border-radius: 50px;
  border: none;
  outline: transparent;
  color: #0e0e0e;
}

.header_search::placeholder {
  color: #0e0e0e;
}

.header_searchBtn {
  display: none;
}

.header_navBtn,
.header_navBtn span {
  display: none;
  transition: all 0.4s;
}
.header_navBtn {
  position: relative;
  flex-shrink: 0;
  width: 30px;
  height: 20px;
  margin-right: 30px;
  background: none;
  border: none;
  appearance: none;
  cursor: pointer;
}

.header_navBtn span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #000;
  border-radius: 4px;
}

.header_navBtn span:nth-of-type(1) {
  top: 0;
}
.header_navBtn span:nth-of-type(2) {
  top: 50%;
  transform: translateY(-50%);
}
.header_navBtn span:nth-of-type(3) {
  bottom: 0;
}

.header_navBtn.active span:nth-of-type(1) {
  top: 50%;
  transform: translateY(-50%) rotate(-315deg);
}
.header_navBtn.active span:nth-of-type(2) {
  opacity: 0;
}
.header_navBtn.active span:nth-of-type(3) {
  bottom: 50%;
  transform: translateY(50%) rotate(315deg);
}

@media (max-width: 1024px) {
  .header {
    z-index: 100;
  }

  .header_nav {
    z-index: -100;
    position: fixed;
    bottom: 0;
    right: -100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0;
    width: 430px;
    height: 100dvh;
    background: #eee;
    border-radius: 0 0 15px 15px;
    margin: 0;
    transition: all 0.3s;
  }
  .header_nav.active {
    right: 0;
    transition: all 0.3s;
  }

  .header_navList {
    flex-direction: column;
    align-items: start;
    gap: 25px;
    height: initial;
    margin: 0 15px;
    margin-top: 100px;
    font-size: 1rem;
  }

  .header_navItem {
    position: relative;
    width: 100%;
  }

  .header_navItem::before {
    position: absolute;
    content: "";
    top: 50%;
    right: 10px;
    transform: translateY(-50%) rotate(45deg);
    width: 10px;
    height: 10px;
    border-top: 1px solid #0e0e0e;
    border-right: 1px solid #0e0e0e;
  }

  .header_navItem:nth-of-type(1)::before {
    transform: translateY(-50%) rotate(135deg);
  }

  .header_accountList {
    align-items: start;
    width: 100%;
    gap: 0;
    height: initial;
    margin: 0;
    margin-bottom: 15px;
    font-size: 1rem;
  }

  .header_accountItem {
    display: flex;
    justify-content: center;
    width: 50%;
    height: 100%;
  }

  .header_accountBox {
    display: flex;
    align-items: initial;
    gap: 5px;
    height: 100%;
  }

  .header_accountUsername {
    margin-top: 5px;
  }

  .header_searchBox {
    display: none;
    width: 75%;
    margin: 0;
    margin-inline: auto;
  }

  .header_searchBox.active {
    z-index: -150;
    display: block;
    position: absolute;
    top: 75px;
    right: 2vw;
    width: 85%;
    height: 50px;
    background: #eee;
    border-radius: 15px;
  }

  .header_searchBtn {
    display: block;
    width: 30px;
    height: 50px;
    margin-left: auto;
    margin-right: 15px;
  }

  .header_navBtn,
  .header_navBtn span {
    display: inline-block;
  }
}

@media (max-width: 430px) {
  .header_nav {
    width: 100%;
  }
}
